
body{
    margin: 0;
    /*Ajustar a toda la altura de la pantalla*/
    min-height: 100vh;
    /*Justifica con grid*/
    display: grid;
    /*Justifica el contenido vertical y horizontalmente*/
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 34, 32);
}

.reloj{
    border: 1rem solid rgb(77, 0, 38);
    width: 300px;
    height: 300px;
    /*Se ajuste*/
    display: flex;
    /*Centrar el contenido vertical y horinzontal*/
    justify-content: center;
    align-items: center;
    /*El rectangulo se vuelve circular*/
    border-radius: 50vh;
    /*Esta tipografia hara la separación entre numeros*/
    font-family: monospace;
    font-size: 3rem;
    color: rgb(252, 0, 197);

}

.reloj:hover{
    border:1rem solid rgb(108, 126, 231);
    color:  rgb(129, 192, 252) ;
}